/* body {
  max-width: 800px;
  margin: 0 auto;
} */

.main-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  max-width: 990px;
  margin: 0 auto;
}

.banner {
  margin-top: 5px;
}

input {
  box-sizing: border-box;
  width: 400px;
  padding: 5px 10px;
  font-size: 16px;
}

button {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #0d6efd;
  color: white;
  font-weight: 400;
}

.error {
  font-size: 12px;
  margin-top: 4px;
  color: red;
}

.results-header {
  font-weight: 600;
  background-color: lightgray;
  line-height: 2em;
  padding-left: 5px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  max-height: 260px;
  max-width: 180px;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  box-sizing: content-box;
}

img {
  object-fit: cover;
  min-height: 260px;
  min-width: 180px;
}

.no-image-text {
  position: absolute;
  background: lightcyan;
  width: 100%;
  top: 0;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  font-weight: 600;
}

/* .image-container:hover {
  cursor: pointer;
} */

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  color: white;
}

.overlay-tags {
  background-color: white;
  font-size: 11px;
  color: black;
  border-radius: 5%;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

.overlay-is-nominated {
  color: grey;
  font-weight: 400;
  cursor: text;
}

.overlay-is-not-nominated {
  font-weight: 800;
  cursor: pointer;
}
